body {
  background: #cacaca;
  color: #ffffff; }

.title {
  color: blue; }

.form {
  height: 300px;
  border: solid 3px rebeccapurple;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .form input {
    padding: 5px 0  5px 10px;
    border-radius: 10px;
    border: 0; }
  .form button {
    padding: 15px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    font-weight: 700;
    color: #444; }
